/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #f8f8fa;
  

}

.footer-section{
  background-color: #4618fe;
}

header{
  
  background-color: #4617fe;
  margin-top: -30px;
  max-height: 450px;
  
}

.logo{
  margin-top: -15px;
  margin-left: 2rem;
  
}

.navi-items{
  display: flex;
  margin-left: 57%;
  gap: 20px; 
  margin-top: 30px;
  color: white;

}

#bb-1{
   background-color: white;
  padding: 3px;
  color: #4617fe;
  border-radius: 3px;
}

.nav-item-1{
  margin-left: -25px;
}

.header-text{
  margin-top: 80px;
  margin-left: 35px;
}

.h21-1{
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 43px;
  color: white;
}

.para-1{
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 10px;
}

.header-image{
  margin-left: 52%;
  margin-top: -270px;
  
}

.companies{
  display: flex;
  gap: 45px;
  margin-left: 35px;
  margin-top: 50px;

}

.company-items{
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.api{
  margin-top: 95px;
  margin-left: 36px;
}

.api-heading{
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  font-size: 43px;
}

.cards{
  display: flex;
  gap: 40px;
  margin-top: 25px;
}

.card-head-active{
  color: #4718fe;
}

.card-active{
  background-color: white;
  border: white;
  height: 210px;
  padding: 18px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px 3px grey;
}

.next{
  width: 60px;
  background-color: blue;
  height: 60px;
  border-radius: 57%;
  margin-right: 50px;
  margin-top: 55px;
  transition: .5s;
  list-style: none;

}

ul li span{
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid #fff;
  margin-left: 13px;
  margin-top: 30px;
  transform: translateY(-50%) rotate(-45deg);
  border-left: none;
  border-top: none;
  
}

.blog-heading{
  margin-top: 90px;
  margin-left: 36px;
  font-weight: bolder;
  font-size: 25px;
  font-family: "poppins", sans-serif;

}

.blog-cards{
  display: flex;
  margin-top: 50px;
  margin-left: 37px;
}

.blog-card{
  display: flex;
}

.blog-content{
  margin-left: 45px;
}

.Aug-01{
   color: #633bfd;
   margin-top: 15px;
   font-size: larger;
}

.custom-1{
  margin-top: 10px;
  font-weight: 900;
  font-family: sans-serif;
}

small{
  
   font-size: 13.5px;

}

.blog-bottom{
  margin-top: 260px;
  margin-left: -130px;
}

.blog-author{
  
  margin-top: 250px;
}

#blog-11{
  margin-left: 100px;
  
}

.Aug-3{
  color: #633bfd;
   margin-top: 15px;
   font-size: larger;
}

.you-1{
  margin-top: 10px;
  font-weight: 900;
  font-family: sans-serif;
}


#img-01{
  margin-left: 90px;
}

.blog-card{
  background-color: #fff;
  height: 290px;
  
}

.faq-section{
  display: flex;
  margin-top: 110px;
  width: 100%;
  background-color: #e9edff;
  padding: 0px;
  
}

.faq-content{
  margin-left: 36px;
  margin-top: 30px;
}

.have-1{
  font-size: 45px;
  font-weight:800 ;
  font-family: sans-serif;

}

.do-12{
  margin-top: 20px;
  font-weight: 800;
  font-family: sans-serif;
  font-size: larger;
}


.contact-1{
  margin-top: 20px;
  padding: 15px;
  width: 190px;
  border-radius: 25px;
  background-color:#5a31fc;
  border: none;
  color: #a089fd;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;

}

.contact-1:hover{
  background: rgb(25, 138, 85);
  transition: .5s;
}

.faq-image{
  margin-left: 120px;
}

.download-section{
  display: flex;
  margin-top: 150px;
}

.now-1{
  color: #5f5f5f;

}

.download-content{
  margin-left: 36px;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 20px;
  
}

.download-email{
  margin-left: 500px;

}

.enter-01{
  z-index: 1;
  padding: 10px;
  width: 450px;
  border-radius: 25px;
  background-color: #e9edff;
  color: black;
  border: none;
  
}

.down-01{
  z-index: -1;
  padding: 10px;
  width: 150px;
  border-radius: 25px;
  border: none;
  background-color: #5a31fc;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-left: -150px;
}

.down-01:hover{
  background-color: crimson;
  transition: .4s;
  box-shadow: 0px 3px 3px 3px chartreuse;

}

.footer-section{
  display: flex;
  gap: 75%;
  height: 200px;
}

.list{
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.footer-left{
  margin-left: 36px;
  margin-top: 50px;
}

.list-items{
  color: white;

}

.footer-right{
  
  margin-left: -200px;
}

.footer-logos{
  margin-left: 35px;
  margin-top: 50px;
}

.logos-list{
  display: flex;
  list-style-type: none;
  margin-left: -170px;
  gap: 30px;
  margin-top: 5px;
}


.download-content{
  margin-bottom: 80px;
}

.nav-item{
  margin-top: 30px;
}

.nav-item-1{
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  header { 
    display: block;
    background-color: #4617fe;
    height: 400px;
  }
  .color-1{
    margin-top: -20%;
  }
  body {
    display: block;
  }

  nav {
    display: block;
    padding: 1rem;
  }

  .nav-item {
    display: none;
  }
 .nav-item-1{
  display: none;
 }
  .hero-section {
    margin: 1rem;
    flex-direction: column;
    position: relative;
  }

  .header-text {
    margin-top: 1rem;
    font-size: 0rem;
  }
  .header-text h2{
    font-size: 40px;
  }
  .header-text p {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 0;
  }

  .header-image {
    
    width: 300px;
    position: absolute;
    right: 10rem;
    top: 41rem;
  }
  
  .companies {
    display: flexs;
    margin-left: 1rem;
    margin-top: 18rem;
    width: fit-content;
    font-size: small;
  }
  .company-items{
    display:block;
    float:left;
    width:80px; /* adjust */
    height:100px; /* adjust */
    padding: 5px; /*adjust*/

  }
  .companies a {
    font-family: "Righteous";
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
  }

  .api {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    text-align: center;
  }

  .api-heading {
    margin-bottom: 1rem;
  }
  .cards {
    flex-direction: column;
    padding-top: 0.5rem;
  }

  .card,
  .card-active {
    padding: 2rem 1rem;
  }
  .card:hover {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 8px;
  }
  .card-active {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 8px;
  }

  .card-head-active {
    color: #4617fe;
  }

  .card-head,
  .card-head-active {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .next{
    display: none;
  }

  .blog-heading {
    margin: 1rem;
    text-align: center;
  }

  .blog-cards {
    flex-direction: column;
    margin: auto;
    gap: 3rem;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .blog-image {
    display: flex;
    align-items: center;
  }
  .blog-image img {
    border-top-right-radius: 3rem;
    margin-top: 5px;
  }

  .blog-content {
    display: none;
  }
  .blog-content h6 {
    color: #4617fe;
    font-size: 1rem;
  }

  .blog-bottom {
    position: absolute;
    bottom: -26px;
  }
  .blog-card-bottom-image {
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
  }

  .blog-author {
    position: absolute;
    bottom: -24px;
    right: 8rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #4617fe;
  }

  /* #E9EDFF */

  .faq-section {
    
    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #414349a1;
    color: #fff;
    height: auto;
    position: relative;
  }

  .faq-content h2 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .faq-content h4 {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .faq-content :nth-child(3) {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .faq-content button {
    padding: 1rem 2rem;
    background-color: #4617fe;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .faq-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq-image img {
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -20;
  }

  .download-section {
    margin: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 0.5rem;
  }

  .download-content{
    display: flex;
    font-size: small;

  }

  .download-email form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
  }

  .download-email form {
    position: flex;
    right: -10rem;
    top: 20rem;
    width: 10%;
    background: #e9edff;
    margin-top: -100%;
  }

  .download-email input {
    display: flex;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin: 5px;
    background: #e9edff;
    color: #000;
    border: none;
    border-radius: 10rem;
    width: 250px;
    
    align-items: center;
    margin-left: -30rem;
   
  }

  .now-1{
    margin-top: 60px;
  }

  .download-email button {
    display: inline-block;
    background: #4617fe;
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    border-radius: 10rem;
    margin: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }
  
  .enter-01{
    font-size: 10px;
  }
  .down-01{
    display: block;
    justify-content: center;
    align-items: center;
    right: 40%;
    margin-top: 15px;
    width: fit-content;
    width: 20%;
    position: relative;
  }
  .footer-section{
    margin-top: 30px;
    position: static;
    display: block;
    margin-bottom: -10px;
    display: flex;
    gap: 25%;
    height: 200px;
  }
  .footer-left{
    display: block;
    padding: 2px;

  }
  .footer-logo{
    margin-left: -35px;
    margin-top: -30px;

  }
  
  .logos-list{
    display: flex;
    margin-top: 30px;
    margin-left: -240px;
  }
  
  .list{
    display: none;
  }

  .footer-right{
    display: flex;
    margin-top: 20px;
    margin-left: -40px;
    width: -5000px;
    size: 200%;
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px;  
       
  }
}